[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
mindshare_staking_pool = "CzSrtvHksDXtM9nFpwGuQ3QQVwNTEXD6jPUjkpqwMjhd"

[programs.devnet]
mindshare_staking_pool = "CzSrtvHksDXtM9nFpwGuQ3QQVwNTEXD6jPUjkpqwMjhd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
init-devnet = "yarn run ts-node scripts/init-devnet.ts"